.app-header{

    button{
        margin: 0 16px;
        color: aliceblue;
    }
    
    .spacer {
        flex: 1 1 auto;
      }
    
      .mat-toolbar {
        background-color: black;
        color: white;
      }
} 